@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
.body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
  position: relative;
  display: flex;
  //flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto; /* Adjust the height as needed */
}

.text-overlay{
  position: absolute;
  top: 40%;
  left: 72%;
  transform: translate(-100%,-100%);
  white-space: nowrap;
  text-align: center;
  
}
img{
  width:auto;
  height: 500px;
  //padding: 100px;
  object-fit: cover;
}

.background{
  background-color:grey;
  text-align: center;
  padding: 10px;
  width: 270vh;
  
}
.cell-small-4 {
  padding: 10px;
  text-align: center;
  height: 100px;
}
.cell-small-3 {
  text-align: center;
  position: absolute;
  content: "";
  clear: both;
  display: table;  
}
